%ul.content-messages{"data-message-id": "#{massage.id}"}
  %li.content-message
    %p.cotent-message__user<>
      = massage.user.name
      %span.content-message__created-time<>
        = created_time(massage.created_at)
    - if massage.boby.present?
      %p.content-message__text
        = massage.boby
    = image_tag massage.image.url, class: 'massage-image' if massage.image.present?
