= render 'layouts/side_bar'
.contents-main
  .content-header
    .content-header--left
      %h2.content-header__group= @group.name
      %p.content-header__menber
        Menber:
        - @group.users.each do |user|
          %span.content-header__menber-user= user.name + ","
    .content-header--right
      = link_to 'Edit', edit_group_path(@group), class: "cotent-header__edit-btn"

  .content-body
    = render @massages

  .content-footer
    = form_for [@group, @massage] do |f|
      .cotent-footer__message
        = f.text_field :boby, placeholder: "type a message"
        .content-footer__icon
          = f.label :image do
            =f.file_field :image, style: "display:none;"
            =fa_icon "picture-o"
      = f.submit 'Send', class: "btn"
